@import url('./bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora&family=Passion+One&family=Playfair+Display&family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(211, 211, 211,0.6);
    text-align: justify;
}

.header img{
    width: 20px;
    margin-right: 10px;
}


.experiences,
.eductation,
.header,
.skills,
.summary{
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0,0.6);
    width: 90%;
    margin: 0px auto;
}


.summary p {
    width: 80%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skills div:last-child {
    margin-left: 60px;
    margin-top: -25px;
}

.skills div ul {
    padding: 10px;
    position: relative;
    left: 10px;
}

.eductation {
    border-bottom : none;
}

@media(max-width:900px) {
    .experiences,
    .eductation,
    .header,
    .skills,
    .summary{
        width: 100%;
    }

    .summary p {
        width: 95%;
    }

    .experiences ul li {
        width: 95%;
        position: relative;
        left: -15px;
    }
}


@media(max-width:650px) {
    .skills {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .skills div:last-child {
        margin-left: 0;
        margin-top: -35px;
    }
}

.text-info {
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
}

